<% const statusToTextMap = {success: "In stock", warning: "Low stock", danger: "Out of stock"}; %>

<div class="status-pill <%=pillStatus%>">
    
    <span><%=statusToTextMap[pillStatus]%></span>

</div>