<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management App</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Instrument+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/index.css">
    <script type="module" src="js/clientScript.js"></script>

</head>
<body class="flex-row">
    <%-include("partials/sidebar") %>
    <%- include("partials/dashboard", {itemCount, categoryCount, inStock, lowStock, outOfStock, stockValue}) %>
    
</body>
</html>